<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore IMS</title>
    <link rel="stylesheet" th:href="@{/css/table.css}" />
</head>
<body class="align">
<h1>Add new book</h1>
<a th:href="@{'/booklist/'}">Back</a>

<form action="#" th:action="@{/savebook}" th:object="${book}" method="post">
    <table>
        <tr>
            <td><label for="title">Title</label></td>
            <td><input type="text" th:field="*{title}" id="title" placeholder="Title"></td>
        </tr>
        <tr>
            <td><label for="author">Author</label></td>
            <td><input type="text" th:field="*{author}" id="author" placeholder="Author"></td>
        </tr>
        <tr>
            <td><label for="year">Year</label></td>
            <td><input type="text" th:field="*{year}" id="year" placeholder="Year"></td>
        </tr>
        <tr>
            <td><label for="category">Category</label></td>
            <td>
                <select id="category" th:field="*{category}" class="form-control">
                    <option th:each="category: ${categories}" th:value="${category.categoryid}" th:text="${category.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="isbn">ISBN</label></td>
            <td><input type="text" th:field="*{isbn}" id="isbn" placeholder="ISBN"></td>
        </tr>
        <tr>
            <td><label for="price">Price</label></td>
            <td><input type="text" th:field="*{price}" id="price" placeholder="Price"></td>
        </tr>
        <tr>
            <td><label for="inventory">Inventory</label></td>
            <td><input type="text" th:field="*{inventory}" id="inventory" placeholder="Amount"></td>
        </tr>
    </table>

    <input type="submit" value="Add Book">
</form>

</body>
</html>