<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore IMS</title>
    <link rel="stylesheet" th:href="@{/css/table.css}" />
</head>
<body class="align">
<h1>Edit book</h1>
<a th:href="@{'/booklist/'}">Back</a>

<form action="#" th:action="@{/updatebook}" th:object="${book}" method="post" >
    <table>
        <tr>
            <td><label for="title">Title</label></td>
            <td><input type="text" th:field="*{title}" id="title" placeholder="Title"></td>
        </tr>
        <tr>
            <td><label for="author">Author</label></td>
            <td><input type="text" th:field="*{author}" id="author" placeholder="Author"></td>
        </tr>
        <tr>
            <td><label for="year">Year</label></td>
            <td><input type="text" th:field="*{year}" id="year" placeholder="2020"></td>
        </tr>
        <tr>
            <td><label for="isbn">ISBN</label></td>
            <td><input type="text" th:field="*{isbn}" id="isbn" placeholder="ISBN"></td>
        </tr>
        <tr>
            <td><label for="price">Price</label></td>
            <td><input type="text" th:field="*{price}" id="price" placeholder="10.00"></td>
        </tr>
        <tr>
            <td><label for="author">Inventory</label></td>
            <td><input type="text" th:field="*{inventory}" id="inventory" placeholder="1"></td>
        </tr>
    </table>

    <input type="submit" value="Update">
</form>

</body>
</html>